<p>
  <b>Papel:</b>
  <%=h @quote_weekly.papel %>
</p>

<p>
  <b>Data:</b>
  <%=h @quote_weekly.data %>
</p>

<p>
  <b>Valor abertura:</b>
  <%=h @quote_weekly.valor_abertura %>
</p>

<p>
  <b>Valor fechamento:</b>
  <%=h @quote_weekly.valor_fechamento %>
</p>

<p>
  <b>Valor minima:</b>
  <%=h @quote_weekly.valor_minima %>
</p>

<p>
  <b>Valor maxima:</b>
  <%=h @quote_weekly.valor_maxima %>
</p>

<p>
  <b>Volume:</b>
  <%=h @quote_weekly.volume %>
</p>

<p>
  <b>Ajuste fechamento:</b>
  <%=h @quote_weekly.ajuste_fechamento %>
</p>


<%= link_to 'Edit', edit_quote_weekly_path(@quote_weekly) %> |
<%= link_to 'Back', quote_weeklies_path %>