<h1>Editing tipo_candle</h1>

<% form_for(@tipo_candle) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tipo_candle %><br />
    <%= f.text_field :tipo_candle %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @tipo_candle %> |
<%= link_to 'Back', tipo_candles_path %>