<div class='title_tools'>
  <%%= link_to(t('new_<%= singular_name %>'), new_<%= singular_name %>_path)%>
</div>

<div class='title'>
  <span id='create_account_title'> <%%= t('<%= singular_name %>.title') %> </span>
</div>

<div class='list'>
	<div id='tickets'>
  <%% unless @<%= plural_name %>.empty? %>

		<%%= render "filter"%>

		<%% @<%= plural_name %>.each do |<%= singular_name %>| %>

		<li>
			<div class='strip' id='none'> <%%= <%= singular_name %>.id %> </div>

		  <div class='tools'>
		    <%%= link_to(t('<%= singular_name %>_edit'), edit_<%= singular_name %>_path(<%= singular_name %>)) << ' | ' %>
		    <%%= link_to(t('show'), <%= singular_name %>_path(<%= singular_name %>))  %>
			</div>

		  <div class='indent'>
		    <%%= link_to(<%= singular_name %>.id, <%= singular_name %>_path(<%= singular_name %>)) %>
		    &ndash;
		    <tt>
					<%%= <%= singular_name %>.id %>
					&nbsp;&bull;&nbsp;
		      <%%= "Adicionado a " << time_ago_in_words(<%= singular_name %>.created_at) << ' por ' << (<%= singular_name %>.user.id == current_user.id ? t(:me) : <%= singular_name %>.user.full_name) %>
				</tt>
		    <dt>
				</dt>
			</div>
		</li>
		<%% end %>
		
  <%% else %>
    <%%= render :partial => "common/empty" %>
	<%% end %>
	</div>
</div>

<div id='paginate'><%%= render "common/paginate"%></div>
