<div id='header'>
  <div id='welcome'>

		<% if user_signed_in?  %>
			<% if current_user.full_name.present? %>
				<span><%= current_user.full_name %> </span>
			<% else %>
				<span><%= current_user.email %> </span>
			<% end %>
			<% if current_user.fl_admin? %>
			  (ADMIN)
			<% end %>

			<span>&nbsp;&nbsp;</span>

	    <%= link_to(t("comum.about"), "#")  << " |" %>
			<%= link_to(t("comum.logout"), destroy_user_session_path) %>

		<% else %>

		<% end %>
	</div>

	<h3>
    <%= link_to(t('comum.app'), root_path) %>
	</h3>
</div>
